@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "neuton-800";
  src: url("./assets/fonts/Neuton-ExtraBold.ttf");
}

@font-face {
  font-family: "neuton-500";
  src: url("./assets/fonts/Neuton-Regular.ttf");
}

html, body{
 font-family: "neuton-500";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}